.featuredProject 
{
    border: solid 2px #9e9e9e9e;
    border-radius: 10px;
    display: flex;

    width: 800px;
    height: 300px;    

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.infoPanel, .imagePanel 
{
    flex: 1;
    position: relative;

}

.infoPanel 
{
    text-align: left;
    left: 25px;
}

.projectImage 
{
    width: 100%;
    height: 100%;

    object-fit: cover;
    border-radius: 0px 8px 8px 0px;
}

.githubLink 
{
    position: absolute;
    bottom: 20px;

    padding: 10px 10px 10px 10px;
    border-radius: 10px;

    background-color: #56c1fe;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    color: white;
}